$main-typo: 'Inter', sans-serif;
$main-typo-size: 14px;

%title {
  color: $very-dark-blue;
  font-size: 1.7em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.dark %title {
  color: $white-text;
}

%sub-title {
  color: $dark-grayish-blue;
  font-weight: 700;
}
.dark %sub-title {
  color: $desaturated-blue;
}