html, body {
  min-height: 100vh;
}
body {
  position: relative;
  font-family: $main-typo;
  font-size: $main-typo-size;
}
#main {
  width: 88%;
  margin: 0 auto;

  @media (min-width: 1200px) {
    width: 82%;
  }
}