#dashboard {
  display: grid;
  grid-template-rows: 170px 1fr;
  grid-gap: 15px;

  @media (min-width: 1200px){
    grid-template-rows: 100px 1fr;
    grid-gap: 45px;
  }
  .dashboard__header {
    display: grid;
    grid-template-rows: 65% 35%;

    @media (min-width: 1200px){
      grid-template-rows: initial;
      grid-template-columns: 1fr 1fr;
    }
    
    .header {
      &__title{
        position: relative;
        @extend %title;
      }
      &__content {
        position: relative;
        .hr{
          border-bottom: 1px solid $dark-grayish-blue;
          margin-top: 20px;
          position: absolute;
          bottom:0;
          width: 100%;

          @media (min-width:1024px){
            display: none;
          }
        }
      }
      &__text{
        @extend %sub-title;
      }
    }
    .darkmode {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 20px;
      position: relative;

      @media (min-width: 1200px) {
        padding-top: 0px;
        grid-template-columns: initial;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      span {
        @extend %sub-title;
      }
    }
  }
  .dashboard__body{
    display: grid;
    grid-gap: 20px;
    @include grid-columns (768px, 1fr 1fr);
    @include grid-columns (1024px, 1fr 1fr 1fr);
    @include grid-columns (1200px, 1fr 1fr 1fr 1fr);
  }
}

.dark #dashboard {
  .dashboard__header{
    .header{
      &__content {
        .hr {
          border-bottom: 1px solid $desaturated-blue;
        }
      }
    }
  }
}