footer{
  padding: 25px 0;
  font-size: 15px;
  text-align: center;

  a{
    font-weight: 700;
    color: $very-dark-blue;
  }
}

.dark {
  footer,
  footer a{ 
    color: $white-text; 
  }
  footer a{
    font-weight: 700;
  }
}
