#overview {
  display: grid;
  grid-gap: 10px;

  .header__title {
    @extend %title;
  }
  
  .overview__body {
    display: grid;
    grid-gap: 20px;
    @include grid-columns (768px, 1fr 1fr);
    @include grid-columns (1024px, 1fr 1fr 1fr);
    @include grid-columns (1200px, 1fr 1fr 1fr 1fr);
  }
}