.card--dashboard {
  width: 100%;
  height: 220px;
  position: relative;

  &::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 5px 5px 0 0;
  }

  &__header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img{
      margin-right: 8px;
    }

    span{
      font-size: 12px;
      font-weight: 700;
      color: var(--dark-grayish-blue);
    } 
  }

  &__body {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 4.5px;

    h3{
      color: var(--very-dark-blue);
      font-size: 50px;
      margin: 0;
      letter-spacing: 0;
    }
  }

  &__footer{
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    margin-top: 30px;
  }
}

.b-fc::after{
  background-color: $primary-facebook;
} 
.b-tw::after{
  background-color: $primary-twitter;
}
.b-ig::after{ 
  background: $primary-instagram;
}
.b-yt::after{
  background-color: $primary-youTube;
}