.switch__container{
  .switch{
    background: $main-toggle;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;

    &::after{
      content: "";
      display: inline-block;
      width: 19px;
      height: 19px;
      background-color: $light-grayish-blue;
      border-radius: 100%;
      position: absolute;
      right: 4px;
      transition-property: right, left;
      transition-duration: 4s;
      transition-timing-function: ease-in; 
    }
  }
} 

.dark {
  .switch{
    background: $main-toggle-dark;
    &::after{
      background-color: $dark-desaturated-blue;
      left: 4px;
    }
  }
}