* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------- *\
|             $COLORS             |
\* ----------------------------- */
/* Branding color */
/*Dark theme*/
/*light theme*/
#overview .header__title, #dashboard .dashboard__header .header__title {
  color: #1e202a;
  font-size: 1.7em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.dark #overview .header__title, #overview .dark .header__title, .dark #dashboard .dashboard__header .header__title, #dashboard .dashboard__header .dark .header__title {
  color: white;
}

#dashboard .dashboard__header .darkmode span, #dashboard .dashboard__header .header__text {
  color: #63687e;
  font-weight: 700;
}

.dark #dashboard .dashboard__header .darkmode span, #dashboard .dashboard__header .darkmode .dark span, .dark #dashboard .dashboard__header .header__text, #dashboard .dashboard__header .dark .header__text {
  color: #8b97c6;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #f0f2fa;
}
.card .card__title {
  color: #1e202a;
}
.card .card__subtitle {
  color: #63687e;
}

.dark .card {
  background-color: #252a41;
}
.dark .card .card__title {
  color: white;
}
.dark .card .card__subtitle {
  color: #8b97c6;
}

span.down-subs::before, span.up-subs::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: -15px;
  top: 6px;
}

span.up-subs {
  color: #1db489;
  position: relative;
}
span.up-subs::before {
  border-bottom: 5px solid #1db489;
}

span.down-subs {
  color: #dc414c;
  position: relative;
}
span.down-subs::before {
  border-top: 5px solid #dc414c;
}

html, body {
  min-height: 100vh;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

#main {
  width: 88%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  #main {
    width: 82%;
  }
}

/*layouts*/
#dashboard {
  display: grid;
  grid-template-rows: 170px 1fr;
  grid-gap: 15px;
}
@media (min-width: 1200px) {
  #dashboard {
    grid-template-rows: 100px 1fr;
    grid-gap: 45px;
  }
}
#dashboard .dashboard__header {
  display: grid;
  grid-template-rows: 65% 35%;
}
@media (min-width: 1200px) {
  #dashboard .dashboard__header {
    grid-template-rows: initial;
    grid-template-columns: 1fr 1fr;
  }
}
#dashboard .dashboard__header .header__title {
  position: relative;
}
#dashboard .dashboard__header .header__content {
  position: relative;
}
#dashboard .dashboard__header .header__content .hr {
  border-bottom: 1px solid #63687e;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 1024px) {
  #dashboard .dashboard__header .header__content .hr {
    display: none;
  }
}
#dashboard .dashboard__header .darkmode {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  position: relative;
}
@media (min-width: 1200px) {
  #dashboard .dashboard__header .darkmode {
    padding-top: 0px;
    grid-template-columns: initial;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
#dashboard .dashboard__body {
  display: grid;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  #dashboard .dashboard__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  #dashboard .dashboard__body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #dashboard .dashboard__body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.dark #dashboard .dashboard__header .header__content .hr {
  border-bottom: 1px solid #8b97c6;
}

#overview {
  display: grid;
  grid-gap: 10px;
}
#overview .overview__body {
  display: grid;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  #overview .overview__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  #overview .overview__body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #overview .overview__body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg .bg__top {
  width: 100%;
  height: 10%;
  min-height: 180px;
  background-color: #f5f7ff;
}
.bg .bg__bottom {
  width: 100%;
  height: 90%;
  background-color: white;
}

.dark .bg__top {
  background-color: #1f212e;
}
.dark .bg__bottom {
  background-color: #1e202a;
}

footer {
  padding: 25px 0;
  font-size: 15px;
  text-align: center;
}
footer a {
  font-weight: 700;
  color: #1e202a;
}

.dark footer,
.dark footer a {
  color: white;
}
.dark footer a {
  font-weight: 700;
}

/*components*/
.switch__container {
  position: absolute;
  right: 0;
  top: 20px;
}
@media (min-width: 1200px) {
  .switch__container {
    position: initial;
    margin-left: 10px;
  }
}
.switch__container .switch {
  background: #aeb3cb;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.switch__container .switch::after {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #f0f2fa;
  border-radius: 100%;
  position: absolute;
  right: 4px;
  transition-property: right, left;
  transition-duration: 4s;
  transition-timing-function: ease-in;
}

.dark .switch {
  background: linear-gradient(90deg, #378fe6, #3eda82);
}
.dark .switch::after {
  background-color: #252a41;
  left: 4px;
}

.card--dashboard {
  width: 100%;
  height: 220px;
  position: relative;
}
.card--dashboard::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
}
.card--dashboard__header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card--dashboard__header img {
  margin-right: 8px;
}
.card--dashboard__header span {
  font-size: 12px;
  font-weight: 700;
}
.card--dashboard__body {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #63687e;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
.card--dashboard__body h3 {
  font-size: 50px;
  margin: 0;
  letter-spacing: 0;
}
.card--dashboard__footer {
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  margin-top: 30px;
}

.b-fc::after {
  background-color: #198ff5;
}

.b-tw::after {
  background-color: #1ca0f2;
}

.b-ig::after {
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.b-yt::after {
  background-color: #c4032a;
}

.dark .card--dashboard__body {
  color: #8b97c6;
}

.card--overview__body, .card--overview__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--overview {
  padding: 22px 28px;
  display: grid;
  grid-gap: 25px;
}
.card--overview__header .card__subtitle {
  font-size: 15px;
  margin: 0;
}
.card--overview__body span:not(.percentage) {
  font-size: 35px;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
